<section id="user">
  <%= render partial: 'toolbar/profile', locals: { subject: @user } %>

  <div class="timeline">
    <h2>My Courses</h2>
    <div class="span8">
      <% @events.each do |event|  %>
          <div class="span4" style="width: 355px;">
            <div class="tile_list_tile tile_list_tile_4">
              <div id="tile_nid_4107" class="tile tile_mid tile_even">
                <a href="">
                  <% if event.poster.file_file_name.nil? %>
                      <%=link_to image_tag("plain.jpg", :style=>"width:310px;height:175px;") ,course_details_path(id:event)%>
                  <%else%>
                      <%=link_to image_tag(event.poster.file, :style=>"width:310px;height:175px;") ,course_details_path(id:event) %>
                  <%end%>
                  <%= link_to course_details_path(id:event) do %>       <div class="tile_info" style="padding-bottom: 0px;">
                  <div class="tile_title left">
                    <%= event.activity_object.title%>	</div>
                  <div class="tile_instructors left">
                    <%= event.author.name %></div>
                  <div class="clear"></div>
                  <div class="button_green_small tile_action">
                    <p class="left"><span>live</span> <%= event.start_date.strftime("%b %d") %></p>
                    <span class=" icon-arrow-right icon-white tile_action_icon"></span>
                  </div>             <%end%>
                  <!--<div class="tile_ttl">-->
                  <!--<div class="ttl_live_in">LIVE in</div><div class="ttl_live_duration">&nbsp;5 days</div>			</div>-->
                  <div class="tile_sell_price hide"><%=  %></div>

                  </div>
                </a>
              </div>
              <% if  can?(:destroy, event) %>
                  <%= link_to("Delete", event_path(event), :data => { :confirm => "Are you sure?" },
                              :method => :delete,
                              :class => 'btn btn-mini btn-danger',
                              :remote=> false) %>
              <% end %>
            </div>

          </div>

      <% end  %>
    </div>
  </div   >

  <%= render partial: 'sidebar/show' %>


</section>
