<section id="home">
  <%= render partial: 'toolbar/home' %>

  <div class="timeline">
    <div class="span8">
      <h3>All Courses</h3>
      <% @courses.each do |course|  %>
          <div class="span4" style="width: 355px;">
            <div class="tile_list_tile tile_list_tile_4">
              <div id="tile_nid_4107" class="tile tile_mid tile_even">
                <a href="">
                  <%=link_to image_tag(course.course_image.url, :style=>"width:310px;height:175px;") ,course_details_path(id:course) %>
                  <%= link_to course_details_path(id:course) do %>     <div class="tile_info" style="padding-bottom: 0px;">
                    <div class="tile_title left">
                      <%= course.activity_object.title%>	</div>
                    <div class="tile_instructors left">
                      <%= course.user.name %></div>
                    <div class="clear"></div>
                  <%end%>
                    <div class="tile_sell_price hide"><%=%></div>
                  </div>
                </a>
              </div>
            </div>

          </div>

      <% end  %>
    </div>
    </div   >
  <% if current_user.actor.user_type =="coach" %>
    <%= render partial: 'sidebar/show' %>
  <% end  %>
</section>
