<div class="container">
  <h3 style="text-align: center">Upcoming Courses</h3>
<div class="row">
  <% @events.each do |event|  %>
  <div class="span4">
       <div class="tile_list_tile tile_list_tile_4">
         <a href=""> <div id="tile_nid_4107" class="tile tile_mid tile_even">

            <% if event.poster.file_file_name.nil? %>
                <%=link_to image_tag("plain.jpg", :style=>"width:310px;height:175px;") ,course_details_path(id:event)%>
            <%else%>
                <%=link_to image_tag(event.poster.file, :style=>"width:310px;height:175px;") ,course_details_path(id:event) %>
            <%end%>
          <%= link_to course_details_path(id:event) do %>  <div class="tile_info" style="padding-bottom: 0px;">
            <div class="tile_title left">
              <%= event.activity_object.title%>	</div>
            <div class="tile_instructors left">
              <%= event.author.name %></div>
            <div class="clear"></div>
            <div class="button_green_small tile_action">
              <p class="left"><span>live</span> <%= event.start_date.strftime("%b %d") %></p>
              <span class=" icon-arrow-right icon-white tile_action_icon"></span>
            </div>         <%end%>
            <div class="tile_sell_price hide"><%=  %></div>
          </div>
        </div>
         </a>
      </div>

  </div>

  <% end  %>
</div>
</div>