
<div class="container">
  <div class="row">
    <div class="span4" style="text-align: right;">
      <h3> <%= @event.course.activity_object.title%></h3>
       <p> <%= @event.course.activity_object.description%></p>


      <%= image_tag(@event.author.logo.url, :style=>"width:50px;height:50px;")%>
      <p><b>By</b> <%=link_to @event.author.name, user_path(@event.author) %></p>

      <p>Instructor: <%=link_to @event.author.name, user_path(@event.author) %></p>

      <p class="event_price">
        $<%= @event.course.price %>
        <% if current_user.actor.user_type =="student" %>
            <%= link_to "Enroll", payment_confirm_path(id:@event.id) , :class=>"btn btn-primary"%>
        <% end  %>
      </p>

      <p><b>Start Date:</b> <%= @event.start_at %></p>
    </div>
    <div class="span7">
      <%=image_tag(@event.course.course_image.url, :style=>"width:640px;height:360px;") %>
    </div>
  </div>
</div>
<br>
<section>
</section>