
 <div class="container">
  <div class="row">
    <div class="span4" style="text-align: right;">
      <h3> <%= @course.activity_object.title%></h3>
       <p> <%= @course.activity_object.description%></p>
      <%= image_tag(@course.author.logo.url, :style=>"width:50px;height:50px;")%>
      <p><b>By</b> <%=link_to @course.author.name, user_path(@course.author) %></p>
      <p class="event_price">
        <%= number_to_currency(@course.price, :precision => 2,:delimiter => ',') %>
    </div>
    <div class="span7">
      <%=image_tag(@course.course_image.url, :style=>"width:640px;height:360px;") %>
    </div>
  </div>
  <table>
  <% @course.events.each do |event|  %>
      <tr>
      <td><%= event.start_at.strftime("%A, %B %d, %Y at %l%p %Z")  %></td>
      <td>
      <% if current_user!=nil and current_user.actor.user_type =="student" %>
          <%= link_to "Enroll", payment_confirm_path(id:event.id) , :class=>"btn btn-primary"%>
      <% end  %>
      </td>
      </tr>
  <% end  %>
  </table>
</div>

<br> 


 <div class="container">
 <div class="span10 ">
     <div class="username">
        <%= @course.activity_object.title%><% image_tag"assets/images/download.jpg" %>
       </div>
       <div class="span4">
       <%=image_tag(@course.course_image.url, :style=>"width:150px;height:126px;") %>
       <div class="box" style="display: inline-block;" >
       <%= image_tag(@course.author.logo.url, :style=>"width:50px;height:50px;")%>
        <p style="display: inherit;"><b>By</b> <%=link_to @course.author.name, user_path(@course.author) %></p>

    </div></div></div>
 

