
<div class="container">
  <div class="row">
    <div class="span12"  style="background:white;">
      <div class="container">
        <div class="row">
          <div class="span12" >
            <div class="col-md-4" style="padding:10px; box-shadow:0px 0px 6px 0px;">
              <div class="well well-sm">
                <div class="media">
                  <a class="thumbnail pull-right" href="#">
                    <%=image_tag(@course.course_image.url, :style=>"width:450px;height:300px;",:class=>"media-object") %>
                  </a>

                  <div class="media-body">
                    <h3 class="media-heading"><%= @course.activity_object.title%></h3>
                    <p class="event_price">
                      <%= number_to_currency(@course.price, :precision => 2,:delimiter => ',') %></p>

                    <p><%= @course.activity_object.description%></p>
                  </div>
                </div>
              </div>

              <% if current_user!=nil and current_user.actor.user_type =="student" %>
                  <div class="well well-sm ">
                    <div class="media">
                      <div class="span6" style="box-shadow:0px 0px 6px 0px; background:white;border-radius: 10px;">
                        <div style=" background:steelblue; min-height:40px; color:white;  padding-left:25px; padding-top:10px;border-radius: 10px 10px 0px 0px;">
                          <h3>Class Room</h3>
                        </div>
                        <div class="media-body">
                          <div style="text-align:center; padding-left: 30px">
                            <table class="table" style="width: 100%;" >
                              <% @enrolled_events.each do |event|  %>
                                  <tr>
                                    <td style="text-align: justify" width="70%"><%= event.title %><br>
                                      <span class="label label-info"><%= event.start_at.strftime("%a, %b %d at %l%p")  %></span>

                                    </td>

                                    <td style="text-align: right">
                                      <%= link_to "Take this Course", "#" , :class=>"btn btn-primary"%>
                                    </td>
                                    <td colspan="2">&nbsp;</td>
                                  </tr>
                              <% end  %>
                            </table>
                          </div>
                        </div>
                      </div>
              <% end %>

              <% if current_user!=nil and current_user.actor.user_type =="coach" %>
                  <div class="well well-sm ">
                    <div class="media">
                      <div class="span6" style="background:white;border-radius: 10px;">
                        <div style=" background:steelblue; min-height:40px; color:white; padding-left:25px; padding-top:10px;border-radius: 10px 10px 0px 0px;">
                          <h3>Class Room</h3>
                        </div>
                        <div class="media-body">
                          <div style="text-align:center; padding-left: 30px" >
                            <table class="table" style="width: 100%;" >
                              <% @events.each do |event|  %>
                                  <tr span class="badge">
                                    <td style="text-align: justify" width="70%"><%= event.title %><br></span>
                                      <span class="label label-info"><%= event.start_at.strftime("%a, %b %d at %l%p")  %></span>

                                    </td>
                                    <td style="text-align: right">
                                      <%= link_to "Start Class", "#" , :class=>"btn btn-primary"%>
                                    </td>
                                    <td colspan="2">&nbsp;</td>
                                  </tr>
                              <% end  %>
                            </table>
                          </div>
                        </div>
                      </div>
              <% end %>

              <div class="span4 pull-right" style="background:white; text-align:center; box-shadow:0px 0px 6px 0px; ">
                <div class="accordion">
                  <div class="accordion-group">
                    <div class="accordion-heading country">
                      <a class="accordion-toggle" data-toggle="collapse" href="#creator"><h4> About Creator<span style="float:right;">+</span></h4></a>
                    </div>
                    <div id="creator" class="accordion-body collapse in">
                      <div class="accordion-inner" style="padding: 9px 0px;" >
                        <div class="col-sm-2 col-md-2 pull-right" style="padding:6px;">
                          <%= image_tag(@course.author.logo.url, :style=>"width:100px;height:100px;",:class=>"img-rounded img-responsive")%>
                        </div>
                        <div class="col-sm-4 col-md-4" style="padding:6px;" >

                          <p><%=link_to @course.author.name, user_path(@course.author) %></p> <small><cite title="Source Title"> <i class="glyphicon glyphicon-map-marker"></i></cite></small>

                        </div>

                      </div>
                    </div>
                  </div></div>
              </div>
              </div></div>

              <% if current_user!=nil and current_user.actor.user_type =="coach" %>
                  <div class="well well-sm">
                    <div class="media">

              <% end  %>

              <% if current_user!=nil and current_user.actor.user_type =="student" %>
                  <div class="well well-sm">
                    <div class="media">
                      <div class="span6" style="box-shadow:0px 0px 6px 0px; background:white;border-radius: 10px;">
                        <div style=" background:steelblue; min-height:40px; color:white;  padding-left:25px; padding-top:10px;border-radius: 10px 10px 0px 0px;">
                          <h3>Upcoming Events</h3>
                        </div>
                        <div class="media-body">

                          <div style="text-align:center; padding-left: 30px ">

                            <table class="table" style="width: 100%;" >
                              <% @other_events.each do |event|  %>
                                  <tr span class="badge">
                                    <td style="text-align: justify" width="70%"><%= event.title %><br></span>
                                      <span class="label label-info"><%= event.start_at.strftime("%a, %b %d at %l%p")  %></span>

                                    </td>

                                    <td style="text-align: right" valign="bottom">
                                      <%= link_to "Enroll", payment_confirm_path(id:event.id) , :class=>"btn btn-primary"%>
                                    </td>
                                    <td colspan="2">&nbsp;</td>
                                  </tr>
                              <% end  %>
                            </table>

                          </div>
                        </div>
                      </div>
              <% end  %>


              <% if current_user!=nil and current_user.actor.user_type =="coach" %>
                  <div class="span10 pull-left" style="background:white; text-align:center; box-shadow:0px 0px 6px 0px;">
              <% else  %>
                  <div class="span4 pull-right" style="background:white; text-align:center; box-shadow:0px 0px 6px 0px;">
              <% end  %>

              <div class="left_content_box2">
                <div class="accordion">
                  <div class="accordion-group">
                    <div class="accordion-heading country">
                      <a class="accordion-toggle" data-toggle="collapse" href="#country1"> <h4> Learners Enrolled<span style="float:right;">+</span></h4></a>
                    </div>
                    <div id="country1" class="accordion-body collapse in">
                      <div class="accordion-inner" style="padding: 9px 0px;" >
                        <div class="">

                          <div class=""><div class="listing_row1">
                            <% @users.each do |user|  %>
                                <div class="listing_box1">
                                  <div class="user_img2">
                            <span><a href="/">
                              <%= image_tag(user.logo.url,:style=>"width:50px;height:50px;")%></a>
                                                        </span></div>
                                  <div><div class="box_title"><a class="link1" href="/student-profile-public.php?user_id=17855"><%= user.name  %></a></div></div>
                                </div><% end  %><div class="listing_spacer1"></div>

                            <div class="clear"></div>
                          </div>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div></div>

              </div>

              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Course Detail Ends-->
    </div>
  </div>
</div>
</div>
