<%= render partial: 'toolbar/subject' %>
<h1>Manage courses</h1>
<div class="span8">
<div class="well">
  <table class="table">
    <thead>
    <tr>
      <th>Course</th>
      <th>Action</th>
         <th>Image</th>
    </tr>
    </thead>
    <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td>

        <%= image_tag course.course_image.url unless course.course_image.nil? %>   </td>
      <td><%= course.activity_object.title %></td>
                                  <td>   <%= link_to edit_course_path(course) do %><i class="icon-pencil"></i><% end %>
         <%= link_to course, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="icon-remove"></i>  <% end %>
      </td>
         </tr>
        <%end%>
    </tbody>
  </table>
</div>
<div>
  <ul class="pagination pagination-large">
  <%= will_paginate @courses, :container=>false %>
 </ul>

</div>



</div>
