<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @course.id %>
</p>

<p>
  <b>Activity object:</b>
  <%= @course.activity_object_id %>


</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
