<div class="logo-header-out">
  <%= link_to root_path, alt: t('site.name') do %>
  <% end %>
  <%= link_to(image_tag('header-logo-index.png', class: "logo", :alt => t('site.name')), root_path) %>
  <span class="nav pull-right" style="margin-top: 20px;">
  <%= link_to "Login", new_session_path(:user) %> |
  <%= link_to "Coach Sign Up", new_registration_path(:user,:user_type=>"coach")%> |
  <%= link_to "User Sign Up", new_registration_path(:user,:user_type=>"student") %>
  </span>
</div>
